<% $(.payPeriod).change(function() { %>
    <li><%= payPeriod; %></li>
<% }); %>

//If Statements EJS
<% if(payPeriod.each() { %>
<% } else { %>
    <ul>
        <% payPeriod.each(function(todo) { %>
        <li><%= payPeriod.attr('description') %></li>
        <% }); %>
    </ul>
<% } %>


<% .each(function(){ }); %>


<% if(expense) { 
    { %> 

    <li><%= expense.pay_period %></li> 
    <li><%= expense.pay_period %></li> 
    <li><%= expense.pay_period; %></li> 
    <li><%= expense.pay_period; %></li> 
    <% } 
} %> 

profile.ejs
line 88 <td class = "payPeriodValue2"><%=incomes[i].yearly%>
              erase
              <td class = "payPeriodValue2">