<% include includes/headers.ejs %>

<div id="addIncomeContainer">
<% if(income.name_of_worker) { %>
  <form id="addIncomeForm" action="/incomes/editincome/<%=income._id%>" method="post">
<% } else { %>
  <form id="addIncomeForm" action="/incomes/addincome" method="post">
<% } %>
    <input type="hidden" name="user_id" value="<%=user._id%>"/>
    <ul class="form-style-1">
      <li>
      <% if(income.name_of_worker) { %>
      <h5>Edit Income</h5>
      <% } else { %> 
        <h5>Add Income</h5>
        <% } %>
      </li>
      <li>
        <label>Name of Employee<span class="required">*</span></label>
        <input class="field-long" type="text" name="name_of_worker" placeholder="Hugh" value="<%= (income.name_of_worker) ? income.name_of_worker : '' %>"/>
      </li>
      <li>
        <label>Company Name <span class="required">*</span></label>
        <input class="field-long" type="text" name="company_name" placeholder="Google/Uber" value="<%= (income.company_name) ? income.company_name : '' %>"/>
      </li>
      <li>
        <label>Company Title <span class="required">*</span></label>
        <input class="field-long" type="text" name="company_title" placeholder="Software Engineer" value="<%= (income.company_title) ? income.company_title : '' %>"/>
      </li>
      <li id="payPeriod">
        <label>Pay Period</label>
        <select class="payPeriodSelect field-select" name="pay_period">
          <option value="Yearly"<%= (income.pay_period && income.pay_period=='Yearly') ? 'selected' : '' %>>Yearly</option>
          <option value="Monthly"<%= (income.pay_period && income.pay_period=='Monthly') ? 'selected' : '' %>>Monthly</option>
          <option value="Weekly"<%= (income.pay_period && income.pay_period=='Weekly') ? 'selected' : '' %>>Weekly</option>
          <option value="Hourly"<%= (income.pay_period && income.pay_period=='Hourly') ? 'selected' : '' %>>Hourly</option>
        </select>
      </li>
      <li>
        <label>Hours Worked<span class="required">*</span></label>
        <input class="field-long" type="text" name="hours_work" placeholder="40 (e.g. hours a week)" value="<%= (income.hours_work) ? income.hours_work : '' %>"/>
      </li> 
      <li>
        <label> <span class="salaryTerm">Yearly  </span>Salary<span class="required">*</span></label>
        <input class="salary field-short" id="field5" type="text" name="yearly" placeholder="40000" value="<%= (income.yearly) ? income.yearly : '' %>"/>
      </li>
      <li>
        <input type="submit" value="Submit"/>
      </li>
    </ul>
  </form>
</div>

<% include includes/footers.ejs %>
